.background{
    background-image: url(images/background.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header{
    background-color: orange;
    border-radius:25px;

}

.sidebar{
    background-color: #6f42c1;
    border-radius: 10px;
}

#footer{
    background-image: url(images/background.jpg);
    border-radius:0px;
    color: white;
}


.zoom:hover{
    transform: scale(1.2);
}

.jumbotron img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}


ion-icon {
    font-size: 30px;
}

.pink{
    background-color: indianred;
    border-radius: 25px;
}

.cyan{
    background-color: #3BCEAC;
    border-radius: 25px;
}

.padding{
    padding-top: 20px;
    padding-left: 20px;
}

.float-right{
    float: right
}

.float-left{
    float: left;
}

.hoverstyle:hover, #hoverstyle:active{
    background-color: orange;
}


a:active {
    text-decoration: underline;
    color: white;
}

a.pressed{
    color: #efa2a9;
}

.pacman{
    margin:60px 10px;
}

.pacman-top{
    background-color:yellow;
    margin-top: -100px;
    height:50px;
    width:100px;
    border-radius:100px 100px 0 0;
    animation: spin1 0.5s infinite linear;
}

.pacman-bottom{
    background-color:yellow;
    height:50px;
    width:100px;
    border-radius:0 0 100px 100px;
    animation: spin2 0.5s infinite linear;
}

.feed {
    margin-top: -135px;
    margin-left:15px;
    width: 25px;
    height: 25px;
    border-radius: 30%;
    animation: eat 1s linear 0s infinite;
}

/* Animation*/

@keyframes spin1 {
    0%  {transform: rotate(0deg);}
    50%{transform: rotate(-35deg);}

}
@keyframes spin2 {
    0%  {transform: rotate(0deg);}
    50%{transform: rotate(35deg);}
}

@-moz-keyframes spin1 {
    0%  {transform: rotate(0deg);}
    50%{transform: rotate(-35deg);}

}
@-moz-keyframes spin2 {
    0%  {transform: rotate(0deg);}
    50%{transform: rotate(35deg);}
}

@-webkit-keyframes spin1 {
    0%  {transform: rotate(0deg);}
    50%{transform: rotate(-35deg);}

}
@-webkit-keyframes spin2 {
    0%  {transform: rotate(0deg);}
    50%{transform: rotate(35deg);}
}

@keyframes eat {
    0% { box-shadow:
            100px 65px 0 0 white,
            300px 65px 0 0 white,
            500px 65px 0 0 white,
            700px 65px 0 0 white,
            900px 65px 0 0 white,
            1100px 65px 0 0 white,
            1300px 65px 0 0 white;}

    100% { box-shadow:
            0px 65px 0 0 white,
            100px 65px 0 0 white,
            300px 65px 0 0 white,
            500px 65px 0 0 white,
            700px 65px 0 0 white,
            900px 65px 0 0 white,
            1100px 65px 0 0 white;}
}
}
